html
  head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    title= subject
    
    body
      h1 subject

      p Someone, probably you, registered for an account at VBEnergyZone under
      | the username #{username}.  To activate your account, please click
      | on this link:

      if port
        p #{protocol}://#{hostname}:#{port}#{path}
        p #{protocol}://192.168.50.4:#{port}#{path}
      else
        p #{protocol}://#{hostname}#{path}

      P Thanks!

      p #{brand}
