html
  head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    title= subject
    
    body
      h1= subject

      p Someone, probably you, registered for an account at #{brand} under
        | the username #{username}.  To activate your account, please click
        | on this link:

      if port
        a(href="#{protocol}://#{hostname}:#{port}#{path}") Registration link
        a(href="#{protocol}://192.168.50.4:#{port}#{path}") Registration link
      else
        a(href="#{protocol}://#{hostname}#{path}") Registration link

      P Thanks!

      p #{brand}
